h3 Welcome to the geological capital of the internet

a href='/login' 
    img src="img/irina-iacob-l9kaK0Hj12M-unsplash.jpg"
img src="img/carole-smile-kHrrHMMG-ME-unsplash.jpg"
a href='/my_rocks'
    img src="img/carole-smile-O2X58S1t9QM-unsplash.jpg"
img src="img/renee-kiffin-ToDanUwG4vs-unsplash.jpg"